version: '3'

services:
  webserver:
    image: ${DOCKER_BASE_IMAGE}-demo:${DOCKER_PHP_TAG}
    container_name: '${COMPOSE_PROJECT_NAME}-demo-webserver'
    build:
      context: ./demo
      args:
        php_tag: ${DOCKER_PHP_TAG}
        docker_image: ${DOCKER_BASE_IMAGE}
    domainname: demo.${APACHE_DOMAIN}
    environment:
      - TYPO3_CONTEXT=${TYPO3_CONTEXT}
      - APACHE_DOMAIN=demo.${APACHE_DOMAIN}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - TYPO3_USER=${TYPO3_USER}
      - TYPO3_PASSWORD=${TYPO3_PASSWORD}

  db:
    container_name: '${COMPOSE_PROJECT_NAME}-demo-db'
