version: '3'

services:
  webserver:
    image: ${DOCKER_BASE_IMAGE}-${APACHE_DOMAIN}:${DOCKER_PHP_TAG}
    container_name: '${COMPOSE_PROJECT_NAME}-webserver'
    build:
      context: ../
      dockerfile: ./.docker/project/Dockerfile
      args:
        php_tag: ${DOCKER_PHP_TAG}
        composer_tag: ${DOCKER_COMPOSER_TAG}
        docker_image: ${DOCKER_BASE_IMAGE}
    domainname: ${APACHE_DOMAIN}
    environment:
      - TYPO3_CONTEXT=${TYPO3_CONTEXT}
      - APACHE_DOMAIN=${APACHE_DOMAIN}

  db:
    container_name: '${COMPOSE_PROJECT_NAME}-db'
